{% extends "base.html" %}
{% block title %}
  Profile
{% endblock title %}
{% block content %}
<main id="main" style="margin: 5rem 0rem">
  <div>
    <div class="container py-5">
      <div class="row vh-80">
        <div class="col-lg-4 ">
          <div class="card" style="height: 100%;">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{user[1]}}</h5>
              <p class="text-muted mb-1"> </p>
              <div class="d-flex justify-content-center mb-2">
                <div style="padding: 5px;"><button type="button" class="btn btn-outline-primary">Follow</button></div>
                <div style="padding: 5px;"><button type="button" class="btn btn-outline-primary ms-1">Message</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card" style="height: 100%;">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user[1]}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user[0]}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user[2]}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user[3]}}</p>
                </div>
              </div>
              <hr>
            
            </div>
          </div>
         
        </div>
      </div>
    </div>

    <div class="container w-50 mx-auto">
      <table id="requests" class="table">
        <tbody>
          <tr>
            <th>Carname</td>
            <th>Timestamp</td>
            <th>Status</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <section>
      <div class="container py-5">
        <div class="row d-flex justify-content-center">
          <div class="col-md-10 col-xl-8 text-center">
            <h3 class="fw-bold mb-4">Testimonials</h3>
            <p class="mb-4 pb-2 mb-md-5 pb-md-0">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
              numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum
              quisquam eum porro a pariatur veniam.
            </p>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="card">
              <div class="card-body py-4 mt-2">
                <div class="d-flex justify-content-center mb-4">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
                    class="rounded-circle shadow-1-strong" width="100" height="100" />
                </div>
                <h5 class="font-weight-bold">Teresa May</h5>
                <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
                <ul class="list-unstyled d-flex justify-content-center">
                  <li>
                    <i class="fas fa-star fa-sm text-info"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-info"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-info"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-info"></i>
                  </li>
                  <li>
                    <i class="fas fa-star-half-alt fa-sm text-info"></i>
                  </li>
                </ul>
                <p class="mb-2">
                  <i class="fas fa-quote-left pe-2"></i>Lorem ipsum dolor sit amet,
                  consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat
                  ad velit ab hic tenetur.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="card">
              <div class="card-body py-4 mt-2">
                <div class="d-flex justify-content-center mb-4">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(15).webp"
                    class="rounded-circle shadow-1-strong" width="100" height="100" />
                </div>
                <h5 class="font-weight-bold">Maggie McLoan</h5>
                <h6 class="font-weight-bold my-3">Photographer at Studio LA</h6>
                <ul class="list-unstyled d-flex justify-content-center">
                  <li>
                    <i class="fas fa-star fa-sm text-info"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-info"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-info"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-info"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-info"></i>
                  </li>
                </ul>
                <p class="mb-2">
                  <i class="fas fa-quote-left pe-2"></i>Autem, totam debitis suscipit saepe
                  sapiente magnam officiis quaerat necessitatibus odio assumenda perferendis
                  labore laboriosam.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-0">
            <div class="card">
              <div class="card-body py-4 mt-2">
                <div class="d-flex justify-content-center mb-4">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(17).webp"
                    class="rounded-circle shadow-1-strong" width="100" height="100" />
                </div>
                <h5 class="font-weight-bold">Alexa Horwitz</h5>
                <h6 class="font-weight-bold my-3">Front-end Developer in NY</h6>
                <ul class="list-unstyled d-flex justify-content-center">
                  <li>
                    <i class="fas fa-star fa-sm text-info"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-info"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-info"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-info"></i>
                  </li>
                  <li>
                    <i class="far fa-star fa-sm text-info"></i>
                  </li>
                </ul>
                <p class="mb-2">
                  <i class="fas fa-quote-left pe-2"></i>Cras sit amet nibh libero, in gravida
                  nulla metus scelerisque ante sollicitudin commodo cras purus odio,
                  vestibulum in tempus viverra turpis.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>

<script>

async function getRequests(){
  const response = await fetch('/getUserRequests');
  const data = await response.json();
  data.requests.forEach(req => {
    var row = document.createElement("tr");
    row.innerHTML = `
    <tr>
          <td>${req.car_name}</td>
          <td>${req.timestamp}</td>
          ${req.status==0?` <td><a class="btn btn-primary" href="#" style="pointer-events:none;background-color:#4669a5">Pending</a></td>`:` <td><a class="btn btn-primary" href="/track-users/${req.request_id}"> Navigate</a></td>`}
         
         
        </tr>
    `;
    document.getElementById("requests").getElementsByTagName("tbody")[0].appendChild(row);
  });
}

getRequests();

</script>

{% endblock content %}