
{% extends "base.html" %}
{% block content %}
<!-- <div id="result"></div> -->
<main id="main" style="margin: 9rem 0rem 2rem 0rem;">
  <h3 class="h3">Request Reliable Mechanics</h3>
  <div class="container">
    <div class="card card-body w-50 mx-auto py-3" style="border: none;">
      <form action="" method="post" class="px-5 mb-3" enctype="multipart/form-data">
        <div class="mb-3">
          <select name="fault" class="form-control" id="fault">
            <option value="" selected hidden>Select fault</option>
            <option value="Engine Misfires">Engine Misfires</option>
            <option value="Overheating">Overheating</option>
            <option value="Overheating">Electrical System Malfunctions</option>
            <option value="Suspension and Steering Problems">Suspension and Steering Problems</option>
            <option value="Fuel System Troubles">Fuel System Troubles</option>
            <option value="Tyre Damage">Tyre Damage</option>
            <option value="Tyre Rotation">Tyre Rotation</option>
            <option value="Transmission Issues">Transmission Issues</option>
            <option value="Brake Problems">Brake Problems</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <div class="mb-3">
          <textarea class="form-control" name="special_instruction" id="special_instruction" rows="3"
            placeholder="Special Instruction if any"></textarea>
        </div>

        <div class="mb-3">
          <select name="car" id="car" class="form-control">
            <option value="" selected hidden>Select Car</option>
            <option value="S-Cross">S-Cross</option>
            <option value="Baleno">Baleno</option>
            <option value="Verna">Verna</option>
          </select>
        </div>

        <div class="mb-3">
          <small class="help-text">Upload Car Photo *</small>
          <input type="file" class="form-control" name="car_photo" id="car_photo" placeholder="upload car photo">
        </div>

        <div class="mt-5 d-flex justify-content-center">
          <button class="btn btn-primary w-100 py-2" type="button" onclick=requestsender()>Request</button>
        </div>
        <div class="my-3">
          <p class="text-center" ><a style="color:#37517e; font-size: 1rem; font-weight: 500;" href="{{url_for('loc_user')}}">skip</a></p>
        </div>

        
      </form>
    </div>
  </div>
</main>
<script>
  function requestsender(){
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  }

}
function showPosition(position) {
  let base64String;
  var fileInput = document.getElementById('car_photo');
  
  var file = fileInput.files[0];
  console.log(file);
  var reader = new FileReader();
  
  reader.onload = function(event) {
    // console.log(event.target.result);
      base64String = event.target.result.split(',')[1]; // Remove the data URL prefix
      console.log(base64String);
      if (!base64String) {
      base64String = undefined;
      }
      var formData = {
                    fault: document.getElementById('fault').value,
                    user_latitude : position.coords.latitude,
                    user_longitude : position.coords.longitude,
                    car_brand : document.getElementById('car').value,
                    special_instruction: document.getElementById('special_instruction').value,
                    car_pic : base64String
                    // email: $('#email').val()
                };
  // $ajax
  console.log(formData);
  $.ajax({
                type: 'POST',
                url: '/request', // Replace with your Flask API endpoint
                data: JSON.stringify(formData),
                contentType: 'application/json',
                success: function(response) {
                    console.log('Data sent successfully!');
                    console.log(response);
                    
                    
                    // Clear the Base64 string
                    base64String = null;
                    document.getElementById('result').textContent = '';
                    window.location.href = "/new-request";
                },
                error: function(error) {
                    console.log('An error occurred while sending the image.');
                    console.log(error);
                }
            });
      // document.getElementById('result').textContent = base64String;
  };


  
  reader.readAsDataURL(file);

  
}

document.getElementById("get-started").innerText = "Logout";

document.getElementById("get-started").addEventListener("click",async ()=>{
  const response = await fetch("/logout");
  const data = await response.json();
})
  
</script>


{% endblock content %}


