{% extends "base.html" %}
{% block title %}
  Track
{% endblock title %}
{% block content %}
<main id="main" style="margin: 4rem 0rem">
  <div class="container-fluid" >
    <div id="map" style="height:60vh;width: 100%;"></div>
    <a  href="https://www.google.com/maps/dir/19.1093463,72.8858094/19.104,72.8758094/" class="d-flex justify-content-center"><Button>Find the Possible Routes</Button></a>
  </div>
</main>

<script>
  function initMap() {
      // Specify the coordinates for the center of the map
      var centerCoordinates = { lat: 19.1093463, lng: 72.8858094 };
      //centerCoordinates={ lat: 19.1093463, lng: 72.8858094 },carCoordinates={ lat: 19.1093463, lng: 72.8858094 }  ,mecCoordinates={ lat: 19.104, lng: 72.8758094}
      // Create a new map object and center it on the specified coordinates
      var map = new google.maps.Map(document.getElementById('map'), {
          center: centerCoordinates,
          zoom: 15, // Adjust the zoom level as needed
          styles: [
              {
                  featureType: "poi",
                  elementType: "labels",
                  stylers: [
                      { visibility: "off" }
                  ]
              }
          ]
      });
      
      // Specify the coordinates for the location where you want to display the icon
      var carCoordinates = { lat: 19.1093463, lng: 72.8858094};
      var car = "M17.402,0H5.643C2.526,0,0,3.467,0,6.584v34.804c0,3.116,2.526,5.644,5.643,5.644h11.759c3.116,0,5.644-2.527,5.644-5.644 V6.584C23.044,3.467,20.518,0,17.402,0z M22.057,14.188v11.665l-2.729,0.351v-4.806L22.057,14.188z M20.625,10.773 c-1.016,3.9-2.219,8.51-2.219,8.51H4.638l-2.222-8.51C2.417,10.773,11.3,7.755,20.625,10.773z M3.748,21.713v4.492l-2.73-0.349 V14.502L3.748,21.713z M1.018,37.938V27.579l2.73,0.343v8.196L1.018,37.938z M2.575,40.882l2.218-3.336h13.771l2.219,3.336H2.575z M19.328,35.805v-7.872l2.729-0.355v10.048L19.328,35.805z";
      var icon = {
      path: car,
      scale: .9,
      strokeColor: 'black',
      strokeWeight: .10,
      fillOpacity: 1,
      fillColor: 'red',
      offset: '0%',
      // rotation: parseInt(heading[i]),
      anchor: new google.maps.Point(10, 25) // orig 10,50 back of car, 10,0 front of car, 10,25 center of car
      };
      // Create a new marker object and position it at the specified coordinates
      
      var marker = new google.maps.Marker({
          position: carCoordinates,
          map: map,
          icon : icon,
          title: 'Car Location' // Add a title for the marker (optional)
      });

      var mecCoordinates = { lat: 19.104, lng: 72.8758094};
      var marker = new google.maps.Marker({
          position: mecCoordinates,
          map: map,
          // icon : icon,
          title: 'Mechanic Location' // Add a title for the marker (optional)
      });
      // marker.setMap(null);

  }
</script>

<!-- Include the Google Maps JavaScript API -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4PI_7hMDA-ek0LWabI6JOKECrMoEpf1Y&callback=initMap" async defer></script>


{% endblock content %}
